.divMain {
    text-align: center;
}

.regularTable {
    width: 80%;
    text-align: left;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    padding: 10px;
}

.parameterTable {
    width: 100%;
    font-family: Georgia;
    font-size: medium;
}

    .parameterTable th {
        background-color: lightgray;
        font-family: Georgia;
        font-size: medium;
        font-weight: 600;
    }

    .parameterTable td {
        font-family: Georgia;
        font-size: medium;
        border-bottom: 2px solid black;
        padding: 10px;
    }

pre {
    font-size: 100%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    width: auto;
    display: block;
    clear: both;
    color: #555555;
    background: #f4f4f4;
    border: solid 1px #e1e1e1;
}

code {
    font-size: 100%;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    display: inline;
    color: #555555;
    padding: 1em 1em;
    background: #f4f4f4;
}

.extraLargeSpan {
    font-size: xx-large;
    font-family: Georgia;
}

.largerSpan {
    font-size: x-large;
    font-family: Georgia;
    text-align: left;
}

.LightLargerSpan {
    font-weight: 500;
    font-size: medium;
    font-family: Georgia;
    text-align: left;
}

.demoLabel {
    font-family: Arial;
    font-size: large;
}
.downloadButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-webkit-border-top-left-radius:9px;
	-moz-border-radius-topleft:9px;
	border-top-left-radius:9px;
	-webkit-border-top-right-radius:9px;
	-moz-border-radius-topright:9px;
	border-top-right-radius:9px;
	-webkit-border-bottom-right-radius:9px;
	-moz-border-radius-bottomright:9px;
	border-bottom-right-radius:9px;
	-webkit-border-bottom-left-radius:9px;
	-moz-border-radius-bottomleft:9px;
	border-bottom-left-radius:9px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:43px;
	line-height:43px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
    padding-left:15px;
    padding-right:15px;
}
.downloadButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.downloadButton:active {
	position:relative;
	top:1px;
}